

 .centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-box {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: Lato, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.form-box {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #40E0D0;
  color: white;
}

button[type="button"] {
  background-color: #ccc;
  color: #333;
}

button[type="submit"]:hover,
button[type="button"]:hover {
  background-color: #17c9b7;
}
