<div class="centered-content">
  <div class="modal-box">
    <div class="title">
      Create New Task
      <div class="form-box">
          <label for="inputBox"></label>
          <input #taskInput type="text" id="inputBox" name="inputBox" placeholder="Enter your task..." required>
          <div class="button-group">
            <button type="button" routerLink="/">Go Back</button>
            <button type="submit" (click)="createList(taskInput.value)" >Submit</button>
          </div>
      </div>
    </div>
  </div>
</div>

